<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
        <h1 style="color: aliceblue;">Commnia AppTRack</h1>
        <div class="d-flex">
            <button routerLink="/login" class="btn btn-danger" type="button">Logout</button>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row ">
            <div class="col">
                <button class="btn btn-success" routerLink="/builder" type="button">Builder</button>
            </div>
            <div class="col">
                <button class="btn btn-success" routerLink="/project" routerLinkActive="router-link-active" type="button">Project</button>
            </div>
        </div>
    </div>
</nav>